@import "tailwindcss";

* { 
    font-family: inherit;
    scroll-behavior: smooth;
}
@media screen and (min-width: 768px) {
    
    .hero {
        background-size: 100% 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url('../assets/bg-banner.jpg');
    }
}