---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Solutions from '../components/Solutions.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title='Tauro Comunicações - Conecte. Engaje. Venda.'
	description='Soluções profissionais de comunicação em massa via WhatsApp e SMS. Automatize campanhas, segmente mensagens e alcance resultados incríveis com a Tauro Comunicações.'
>
	<Header />
	<main>
		<Hero />
		<Solutions />
	</main>
	<Footer />
</Layout>
